<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2kQrDJh1mwS_PUxR22huLG9sB6jooJuE</string>
	<key>GCM_SENDER_ID</key>
	<string>563657825817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finnove.suyatra.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>suyatra-8ab36</string>
	<key>STORAGE_BUCKET</key>
	<string>suyatra-8ab36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563657825817:ios:cf03f5288d5600e0de1488</string>
</dict>
</plist>